body, html{
  height: 100%;
  margin:0;
}
.bg_main_image {
  background-image: url(AuroraFrogStalnacke1024.jpg);
  background-size: cover;
  background-color: white;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.image_text{
  color: #FFFFFF;
  text-shadow: 0 0 5px black;
  font-size: 5rem;
}

.ch{
  height: 247px;
}
.navbar{
  background-color: rgba(255, 255, 255, 0);
}

.navbutton{
  color:white;
  text-shadow: 0 0 5px black;
}

.navbutton:hover{
  color: #757575;
}
.label {
  border-bottom: 1px solid #536DFE;
  width:fit-content;
}
a{
  color: white
}
a:hover{
  color:#757575;
}

.about{
  text-align: center;
  text-shadow: 0 0 5px black;
  background-color: #455A64;
  color:#FFFFFF;
  height: 400px;
}

.icon{
  font-size: 64px;
}

.pane {
  background-image: url("http://placehold.it/150x100");
  background-size: cover;
  background-position: center;
  color:white;
  text-shadow: 0 0 5px black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.large {
  height:51vh;
}
div .large:hover{
  background-color: #536DFE;
  background-image: url(https://picsum.photos/1000/1000/?random);
}
.label {
  border-bottom: 1px solid #536DFE;
  width:fit-content;
}
.badge:empty{
  display: inline;
}
.badge{
  max-height:175px;
}